<!-- Wine Picture -->
<div id="container">


  <video id="background_video" loop muted autoplay>

    <source src="/assets/WINE_POUR_SLOW_MOTION.mp4" type="video/mp4">
  </video>
</div>


<!-- <div id="video_cover"></div> -->
<div id="overlay"></div>

<!-- Title and signup/login buttons -->
<section id="main_content">
  <div id="head">
    <h1>Omniscient Aerator: History Page</h1>
  </div>

<div class="divider"></div>
  <div class="section">
    <h5>Section 1</h5>
    <p>Wine</p>
    <p>book</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Section 2</h5>
    <p>Stuff</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Section 3</h5>
    <p>Stuff</p>
  </div>
 
 
    



  </div>
</section>






<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
