<!-- Wine Picture -->
<div id="container">

  <video id="background_video">
    <source src="/assets/WINE_POUR_SLOW_MOTION.mp4" type="video/mp4">
  </video>
</div>


<!-- <div id="video_cover"></div> -->
<div id="overlay"></div>

<!-- Title and signup/login buttons -->
<section id="main_content">
  <div id="head">
    <h1>Omniscient Aerator: Login</h1>
  </div>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="loginuser_name" type="text" class="validate">
          <label for="user_name">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="loginpassword" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>

  <div id="links">
    <!-- Sign Up button -->
    <a id="loginsubmit" type="submit">Login</a>

  </div>
</section>





<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
